.grids {
    display: grid;
    grid-template-columns: 1fr;
  padding-left: 500px;
    gap: 20px;
    margin: 0 auto;
    .cards {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      height: 600px;
      gap: 10px;
      border-radius: 15px;
      background-color: rgb(136, 211, 22);
      color: rgb(255, 255, 255);
      font-family: Arial, Helvetica, sans-serif;
      p {
        font-size: 25px;
      }
      .cards_img {
        height: 350px;
      }
    }
  }
  .btn {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 25px;
    background-color: #f7ca77;
    color: rgb(56, 56, 56);
    width: 300px;
    height: 50px;
    border: dashed 1.5px rgb(56, 55, 55);
    border-radius: 10px;
    transition: 0.3s;
  }
  .body{
   width: 100%;
   height: 130vh;
    background: rgb(255, 255, 255);
  }
  